<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.traincon.modelleisenbahn_controller">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ControllerConfigActivity"
            android:label="@string/label_activity_controller_config" />
        <activity
            android:name=".ui.LocoConfigActivity"
            android:label="@string/label_activity_loco_config"/>
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/label_activity_settings" />
        <activity
            android:name=".ui.ConsoleActivity"
            android:label="@string/label_activity_console" />
    </application>

</manifest>